@import 'https://fonts.googleapis.com/css?family=DM+Sans:300,400,600,700';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:400';

/*-- scss:defaults --*/
$font-family-sans-serif: 'DM Sans', sans-serif;
$font-family-monospace: 'Robot Mono', monospace;
$navbar-bg: #071E2D;
$navbar-fg: #FFF;

// Replace text with logo
.navbar-brand {
  background: url(logo_white.svg) bottom/contain no-repeat;
}
.navbar-title {
  visibility: hidden;
}
