name: Collect contributors

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 1'

jobs:
    run-r-script:
        runs-on: ubuntu-latest
        env:
            GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        permissions:
            contents: write
            pull-requests: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                token: ${{ secrets.SUDO_GITHUB_TOKEN }}

            - name: Setup Quarto
              uses: quarto-dev/quarto-actions/setup@v2
              with:
                version: pre-release
            - name: Setup R
              uses: r-lib/actions/setup-r@v2

            - uses: r-lib/actions/setup-r-dependencies@v2
              with:
                packages: |
                    gh
                    allcontributors

            - name: Collect contributor data
              run: Rscript _scripts/collect_contributor_data.R
            - name: Render people page
              uses: quarto-dev/quarto-actions/render@v2
              with:
                path: people.qmd
            - uses: EndBug/add-and-commit@v9
              with:
                pull: '--rebase'
                author_name: epiverse-trace-bot
                author_email: epiverse-trace-bot@users.noreply.github.com
                message: "Update `_data/epiverse_contributors.csv` and `_freeze/`"
                add: '_data/epiverse_contributors.csv _freeze/'
